.*
!.gitignore
.build/
.swiftpm/
.claude/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

Sources/AuraExample/AuraExample.xcodeproj/xcuserdata/

Sources/AuraExample/AuraExample.xcodeproj/project.xcworkspace/xcuserdata/
